.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
src
dist/secure.d.ts
dist/test.d.ts

.DS_Store
.env
.gitattributes
.gitignore
.pnp.*

tsconfig.json
yarn.lock